.Form-Box {
  border: 1px solid #000;
  width: 40%;
  margin: 0 auto;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

form label input {
  background-color: red;
  position: relative;
  width: 100%;
}