.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.red-title {
  color: red;
  background-color: black;
}

.blue-title {
  color: blue;
  background-color: white;
}